h1{
    background: linear-gradient(90deg in oklab,#4c178d,#fed3c4);
    color:#ffffff;
}

h2{
    background: linear-gradient(90deg in oklab,#6067be,#e2dbdb);
    color:white;
}



a:link{
    color: #925bf9;
}

a:visited{
    color: #ff5f5c;
}
