h1{
    background-color: #5d3daf;
    color:#ffffff;
}

h2{
    background: linear-gradient(90deg in oklab,#6067be,#e2dbdb);
    color:white;
}



a:link{
    color: #ff7cd8;
}
a:visited{
    color: #fb6542;
}

